.container {
    padding: 2rem;
}
.header {
    text-align: center;
    margin-bottom: 2rem;
}
.header h2 {
    font-size: 3rem;
    color: #28329c ;
    margin: 0;
}
.content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}
.section {
    background-color: #73698a;
    padding: 2rem;
    border-radius: 8px;
}
.section h3 {
    font-size: 2.5rem;
    color: #202990 ;
    margin-bottom: 1rem;
}
.section h4 {
    font-size: 1.75rem;
    color: #9966FF;
    margin-bottom: 0.5rem;
    font-weight: bold;
}
.section p, .section ul {
    margin: 0 0 1rem 0;
}
.section ul {
    padding-left: 1.5rem;
}
.section ul li {
    margin-bottom: 0.5rem;
}
.section ul li strong {
    color: #d3b3e5;
}
@media (min-width: 1024px) {
    .content {
        grid-template-columns: 1fr 1fr;
    }
}
.section-header {
    text-align: center;
    margin-bottom: 2rem;
    border-radius: 0.375rem
}
.section-header h2 {
    font-size: 3rem;
    color: #28329c ;
}
.card {
    /* background-color: #b9b4be; */
    border: none;
    border-radius: 0.375rem
}
.card-header {
    background-color: #412272 ;
    color: #161515;
    border-radius: 0.375rem
}
.card-body {
    padding: 2rem;
    color: white;
}
.card h3 {
    font-size: 2rem;
    font-weight: bolder;
    color: #9966FF;
    margin-bottom: 1rem;
}
.card h4 {
    font-size: 1.5rem;
    color: #9966FF;
    margin-bottom: 0.5rem;
    font-weight: bold;
}
.card ul {
    padding-left: 1.5rem;
    padding-top: 1.5rem ;
}
.card ul li {
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
}

.bg-\[\#28329c\] {
    --tw-bg-opacity: 1;
    background-color: rgb(40 50 156 / var(--tw-bg-opacity))
}
